*.swp
*.swo
*.DS_Store
*.img
*.SYS
*.o
*.bin
*.iso
*.log

# ignored apps
src/apps/window_server/window_server
src/apps/terminal/terminal
src/apps/shell/shell
src/apps/uname/uname
src/apps/host/host
src/apps/calculator/calculator
src/ports
src/isodir
src/logs
