*.swp
*.swo
*.DS_Store
*.img
*.SYS
*.o
*.bin
*.iso
*.log

src/toolchain/*
!src/toolchain/build.sh
!src/toolchain/binutils-2.32.patch
!src/toolchain/gcc-9.1.0.patch

src/libraries/libc/libc.a
src/ports
src/isodir
src/logs

# ignored apps
src/apps/window_server/window_server
src/apps/terminal/terminal
src/apps/shell/shell
src/apps/uname/uname
src/apps/host/host
src/apps/calculator/calculator
src/apps/ld/ld
