*.swp
*.swo
*.DS_Store
*.img
*.SYS
*.o
*.bin
*.iso
*.log

build
unity
src/toolchain/*
!src/toolchain/build.sh
!src/toolchain/binutils-2.32.patch
!src/toolchain/gcc-9.1.0.patch

src/libraries/libc/libc.a
src/isodir
src/logs
src/ports/*/*
!src/ports/*/package.sh
!src/ports/*/*.patch

# ignored apps
src/apps/window_server/window_server
src/apps/terminal/terminal
src/apps/shell/shell
src/apps/uname/uname
src/apps/host/host
src/apps/calculator/calculator
src/apps/ld/ld

src/apps/cmd/*/*
!src/apps/cmd/*/*.c
